
/* variables menu */

$menu-bg-color: #000000f3;
$menu-link-color: #f9580e;
$menu-link-hover-color: #ffffff;
$menu-link-font-size: 19px;
$menu-link-padding: 22px;

/*footer*/
$footer-icon-size: 4.5rem;
$footer-icon-color: #d6b10d;
$footer-icon-hover-color: #fff;
$footer-icon-bg-hover-color: #f9580e;
$footer-icon-border-color: #ffc246;
$footer-icon-border-hover-color: #f9580e;