.home {
    min-height: 50vh;
    background-image: url(../images/eimec-formacion-medicina-estetica-taller-bioestimulacion-facial.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    z-index: 0;
    overflow: hidden;
    position: relative;
    
    .content {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-flow: column;
      padding-top: 40rem;
      text-align: center;
      
      h1 {
        font-size: 5rem;
        color: #fff;
        padding: 0 1rem;
        
        text-transform: uppercase;
      }
      
      p {
        font-size: 2rem;
        color: #E44996;
        padding: 1rem 25rem;
        text-shadow: 0 5px 10px rgba(0, 0, 0, 0.89);
      }
      
      button {
        height: 5rem;
        width: 20rem;
        border-radius: 1rem;
        background: #f9580e;
        color: #fff;
        font-size: 1.5rem;
        cursor: pointer;
        transition: .2s;
        box-shadow: 0 .3rem 1rem rgba(0, 0, 0, .3);
        margin: 4rem 0;
        border-color: #f9580e;
        margin-top: 2rem;
        border-color: #f9580e;
        
        &:hover {
          background: none;
          border: .2rem solid #fff;
        }
      }
    }
  }
  

  .equipo1{
    color: #fff;
  }