.contact {
  .row {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 3rem 0;
    text-align: center;

    .form-container {
      width: 50%;
      

      input,
      textarea {
        display: flex;
        align-items:center;
        justify-content: center;
        flex-direction: column;
        width: 100%;
        padding: 20px;
        border-radius: 25px;
        margin: 20px;
        color: #f9580e;
        font-size: 1.7rem;
        transition: .2s linear;
        

        &:focus {
          border: .3rem solid #f9580e;
        }
      }

  ho    textarea {
        height: 20rem;
        border-radius: 1rem;
        padding: 1rem;
        resize: none;
      }

      input[type="submit"] {
        display: flex;
        align-items:center;
        justify-content: center;
        flex-direction: column;
        background: #f9580e;
        color: #fff;
        cursor: pointer;
        font-size: 2rem;
        transition: .2s;

        &:hover {
          background: none;
          color: #f9580e;
          border: .2rem solid #f9580e;
        }
      }
    }
  }
}

input[type="reset"] {
  cursor: pointer;

  &:hover {
    background: rgb(51, 50, 50);
    color: #f9580e;
    border: .2rem solid #f9580e;
  }
    

}

.contacto{
  color: #f9580e;
  text-align: center;
  font-size: 2rem;
}