.contact {
    .row {
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 5rem 0;
      text-align: center;
  
      .form-container {
        width: 50%;
        padding-right: 6rem;
  
        input,
        textarea {
          height: 4rem;
          width: 100%;
          background: #fff;
          border-radius: 5rem;
          padding: 0 1rem;
          margin: 1rem 0;
          color: #f9580e;
          font-size: 1.7rem;
          transition: .2s linear;
  
          &:focus {
            border: .4rem solid #f9580e;
          }
        }
  
        textarea {
          height: 20rem;
          border-radius: 1rem;
          padding: 1rem;
          resize: none;
        }
  
        input[type="submit"] {
          height: 5rem;
          width: 17rem;
          background: #f9580e;
          color: #fff;
          cursor: pointer;
          font-size: 2rem;
          transition: .2s;
  
          &:hover {
            background: none;
            color: #f9580e;
            border: .2rem solid #f9580e;
          }
        }
      }
    }
  }
  
  .container {
    p {
      color: #fff;
    }
  }
  