.contain {
  background-color: rgba(58, 57, 58, 0.3);
  padding: 20px;
  border-radius: 5px;
  text-align: center;
  color: #fff;

  .title {
    font-size: 24px;
    margin-bottom: 10px;
  }

  .fa-dollar-sign {
    color: #0066ff;
    margin-right: 5px;
    font-size: 3rem;
    text-align: center;
  }

  p {
    font-size: 16px;
    line-height: 1.5;
    margin-bottom: 20px;
  }

  button {
    background-color: #0066ff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 18px;
    cursor: pointer;

    &:hover {
      background-color: #233042;
    }
  }
}

.equipo {
  color: #f9580e;
  text-align: center;
  font-size: 40px;
}

p {
  color: #fff;
}

.course {
  .box-container {
    width: 85%;
    display: flex;
    justify-content: center;
    margin: 0 auto;
    padding: 4rem 0;
    flex-wrap: wrap;

    .box {
      background: #171717;
      height: 25rem;
      width: 25rem;
      margin: 3.5rem 2rem;
      text-align: center;
      border-radius: 1rem;

      i {
        height: 10rem;
        width: 10rem;
        line-height: 8rem;
        text-align: center;
        color: #ffffff;
        background: none;
        margin-top: 3rem;
        font-size: 5rem;
      }

      h3 {
        font-size: 2rem;
        color: #f9580e;
        cursor: pointer;
      }

      p {
        font-size: 1.5rem;
        color: white;
        padding: 1rem 0;
      }
    }
  }
}

.review {
  background: #171717;

  .box-container {
    display: flex;
    justify-content: center;
    padding-top: 4rem;
    flex-wrap: wrap;

    .box {
      width: 28rem;
      padding-bottom: 1rem;
      text-align: center;
      box-shadow: 0 .3rem 5rem rgba(0, 0, 0, .6);
      background-color: #0c0b0b;
      margin: 4rem 2rem;

      img {
        height: 15rem;
        width: 11rem;
        object-fit: cover;
        border-radius: 30%;
        margin-top: -5rem;
      }

      h3 {
        font-size: 2.5rem;
        color: #f9580e;
        padding: 0 .5rem;
      }

      p {
        font-size: 1.5rem;
        color: #fff;
        padding: 1.3rem .1rem;
      }

      .stars i {
        font-size: 1.8rem;
        color: #ffc246;
        padding: 1rem 0.4rem;
      }
    }
  }
}



.about {
  h1 {
    color: #0066ff;
  }
}

.whatsapp {
  width: 110px;
  position: fixed;
  bottom: 10px;
  right: 10px;
  text-align: center;
}

.mapa {
  filter: grayscale(100%) invert(92%) contrast(93%);
  margin-top: 25px;
  margin-bottom: 100px;
  text-align: center;
}

.row {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 50px;
}

.header-txt {
  text-align: center;
  font-size: 25px;
  

}


.header-img {
  display: flex;
  justify-content: center;
}

.imagen {
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding: 70px;
  width: 100%;
}



.products {
  padding: 70px 0 0 0;
  text-align: center;

  h2 {
    font-size: 30px;
    display: flex;
    justify-content: center;
    color: #f9580e;
  
    text-transform: capitalize;
  }

  img {
    width: 100%;
    
    border-radius: 10%;
    max-width: 300px;
  }

  h3 {
    color: #fff;
    font-size: 20px;
    margin-bottom: 10px;
    
  }

  p {
    font-size: 16px;
    color: #f9580e;
    margin-bottom: 10px;
  }

  .precio {
    color: #fff !important;
  }

  .btn-2 {
    display: inline-block;
    padding: 8px 17px;
    border: 1px solid #f9580e;
    border-radius: 20px;
    color: #ffffff;
    font-size: 10px;

    &:hover {
      background-color: #f9580e;
    }
  }
}


.products {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.product {
  width: 30%; 
  margin-bottom: 20px; 
}

.product-image {
  width: 200px; 
  height: 200px; 
  
 }
/* Estilos para mobile */
@media (max-width: 552px) {
  .products {
    flex-direction: column;
  }

  .product {
    width: 100%;
  }
}